/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: ;
  background: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: ;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: cornflowerblue;
  border: 1px solid white;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
.icon .far {
  font-size: 12rem;
  margin: 30px;
}
.icon h1 {
  font-size: 3rem;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
textarea {
  display: flex;
  width: 80%;
  height: 200px;
  margin-bottom: 30px;
}
label {
  font-size: 2rem;
  margin-bottom: 20px;
}
.value1 {
  display: flex;
  font-size: 2rem;
  align-items: flex-end;
}
.range {
  width: 50%;
  margin-bottom: 30px;
}
select {
  height: 30px;
  width: 50%;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 35px;
  color: black;
  background: white;
  border-radius: 5px;
  font-size: 1.8rem;
  margin: 30px;
}
button:hover {
  color: white;
  background: black;
  border: 1px solid white;
}
